# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

Imds:
  ImdsSupport: ${IMDS_SUPPORT}
Image:
  Os: ${OS_TYPE}
  ${HEAD_NODE_CUSTOM_AMI_CONFIG}
HeadNode:
  InstanceType: ${HEAD_NODE_INSTANCE_TYPE}
  ${HEAD_NODE_DISABLE_HT_CONFIG}Networking:
    SubnetId: ${PRIVATE_SUBNET_ID}
    ${HEAD_NODE_ELASTIC_IP_CONFIG}AdditionalSecurityGroups:
      - ${HEAD_NODE_SECURITY_GROUP}
    ${HTTP_PROXY_CONFIG}
  Ssh:
    KeyName: ${KEY_PAIR_NAME}
  ${DCV_CONFIG}LocalStorage:
    RootVolume:
      Size: ${HEAD_NODE_ROOT_VOLUME_SIZE}
      DeleteOnTermination: true
      ${HEAD_NODE_ROOT_VOLUME_ENCRYPTED_CONFIG}${HEAD_NODE_ROOT_VOLUME_TYPE_CONFIG}${HEAD_NODE_ROOT_VOLUME_IOPS_CONFIG}${HEAD_NODE_ROOT_VOLUME_THROUGHPUT_CONFIG}
  Iam:
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
      - Policy: arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
      - Policy: arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
      - Policy: arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      ${CLOUDWATCH_POLICY_CONFIG}
      ${AMP_POLICY_CONFIG}
  CustomActions:
    OnNodeConfigured:
      Sequence:
        ${HEADNODE_CUSTOM_ACTION_CONFIG}
LoginNodes:
  Pools:
    - Name: ${LOGIN_NODE_POOL_NAME}
      Count: ${LOGIN_NODE_COUNT}
      InstanceType: ${LOGIN_NODE_INSTANCE_TYPE}
      Networking:
        SubnetIds:
          - ${LOGIN_NODE_SUBNET_ID}
        AdditionalSecurityGroups:
          - ${LOGIN_NODE_SECURITY_GROUP}
      # Note: Since ParallelCluster 3.14+, LoginNodes automatically inherit HeadNode's SSH key
      # if Ssh section is omitted. Explicitly setting it here for clarity and backward compatibility.
      Ssh:
        KeyName: ${LOGIN_NODE_KEY_PAIR}
      Iam:
        AdditionalIamPolicies:
          - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
          - Policy: arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
          - Policy: arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
          - Policy: arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
          - Policy: arn:aws:iam::aws:policy/AWSPriceListServiceFullAccess
          ${CLOUDWATCH_POLICY_CONFIG}
          ${AMP_POLICY_CONFIG}
      ${LOGIN_NODE_CUSTOM_ACTIONS_CONFIG}

Scheduling:
  Scheduler: ${SCHEDULER}
  SlurmSettings:
    ScaledownIdletime: ${SCALEDOWN_IDLETIME}
    QueueUpdateStrategy: ${QUEUE_UPDATE_STRATEGY}
    ${ENABLE_MEMORY_BASED_SCHEDULING_CONFIG}${SLURM_DATABASE_CONFIG}${MUNGE_KEY_SECRET_CONFIG}CustomSlurmSettings:
      - JobCompType: jobcomp/filetxt
      - JobCompLoc: /home/slurm/slurm-job-completions.txt
      - KillWait: ${KILL_WAIT}
      - SlurmdTimeout: ${SLURMD_TIMEOUT}
      - UnkillableStepTimeout: ${UNKILLABLE_STEP_TIMEOUT}
      ${CUSTOM_SLURM_SETTINGS_EXTRA_CONFIG}
  SlurmQueues:
    - Name: ${QUEUE_NAME}
      CapacityType: ${CAPACITY_TYPE}
      ${ALLOCATION_STRATEGY_CONFIG}
      ${CAPACITY_RESERVATION_CONFIG}
      Networking:
        SubnetIds:
          - ${PRIVATE_SUBNET_ID}
        PlacementGroup:
          Enabled: ${PLACEMENT_GROUP_ENABLED}
        AdditionalSecurityGroups:
          - ${COMPUTE_NODE_SECURITY_GROUP}
      ComputeSettings:
        LocalStorage:
          EphemeralVolume:
            MountDir: /scratch
            ${COMPUTE_NODE_EPHEMERAL_ENCRYPTED_CONFIG}
          RootVolume:
            Size: ${COMPUTE_NODE_ROOT_VOLUME_SIZE}
            ${COMPUTE_NODE_ROOT_VOLUME_ENCRYPTED_CONFIG}${COMPUTE_NODE_ROOT_VOLUME_TYPE_CONFIG}${COMPUTE_NODE_ROOT_VOLUME_IOPS_CONFIG}${COMPUTE_NODE_ROOT_VOLUME_THROUGHPUT_CONFIG}
      Iam:
        AdditionalIamPolicies:
          - Policy: arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
          - Policy: arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
          ${CLOUDWATCH_POLICY_CONFIG}
          ${AMP_POLICY_CONFIG}
      JobExclusiveAllocation: ${JOB_EXCLUSIVE_ALLOCATION}
      ComputeResources:
        - Name: ${COMPUTE_RESOURCE_NAME}
          InstanceType: ${COMPUTE_INSTANCE_TYPE}
          ${COMPUTE_DISABLE_HT_CONFIG}MinCount: ${MIN_COUNT}
          MaxCount: ${MAX_COUNT}
          ${SPOT_PRICE_CONFIG}${STATIC_NODE_PRIORITY_CONFIG}${DYNAMIC_NODE_PRIORITY_CONFIG}Efa:
            Enabled: ${EFA_ENABLED}
          ${GPU_HEALTH_CHECK_CONFIG}
      ${COMPUTE_CUSTOM_ACTIONS_CONFIG}
SharedStorage:
  # FSx OpenZFS for /home (OPTIONAL - only included if FSxORootVolumeId is set)
  # Use cases: Frequent snapshots, point-in-time restore, or extremely large numbers of small files
  # Alternative: HeadNode's /home is shared via NFS by default (no additional cost)
  ${FSXOPENZFS_STORAGE_CONFIG}
  # FSx Lustre for /fsx (High-performance shared storage for datasets)
  - MountDir: /fsx
    Name: fsx
    StorageType: FsxLustre
    FsxLustreSettings:
      FileSystemId: ${FSxLustreFilesystemId}
  ${EBS_STORAGE_CONFIG}${EFS_STORAGE_CONFIG}
${DIRECTORY_SERVICE_CONFIG}
${MONITORING_CONFIG}${TAGS_CONFIG}
DevSettings:
  Timeouts:
    HeadNodeBootstrapTimeout: 3600  # 60 minutes for HeadNode (CloudWatch + Prometheus + NGC download)
    ComputeNodeBootstrapTimeout: 2400  # 40 minutes for ComputeNode (EFA + Docker + DCGM takes ~20-25 min)